[2019-10-04 11:42] fonix232 opened #7 "File for upload not found"
My project builds an AAB, which I transform to a universal APK using [this step](https://github.com/ch4vi/bitrise-step-bundle-universal-apk). The resulting APK works fine, and the Bitrise Deploy step was able to upload it without issue.

However this step fails to find the file:

[code]

[2019-10-04 13:15] guness commented on #7
Hey @fonix232 , please edit **App Path** section as following:

[code]

[2019-10-04 13:15] #7 closed

[2019-10-14 11:49] mamatagelanee07 opened #8 "[Feature] Customised ReadMe file based on Github Pull Request"
For Firebase App Distribution, Is it possible to generate a customized string for the ReadMe file based on Pull Request/ Commit message [(Pull Request Template)? ](https://help.github.com/en/articles/creating-a-pull-request-template-for-your-repository)

**Pros:**
QA can understand features/changes have been made for build generated from merging Pull Request.

[2019-10-14 11:51] mamatagelanee07 commented on #8
![issue_template](https://user-images.githubusercontent.com/8694335/66749283-5f629980-ee81-11e9-92b4-a05ab92dc2cf.png)

[2019-10-14 13:15] guness commented on #8
First of all, this step is not meant to generate resource, it is just to distribute assets.
Secondly, git related outputs are available `Git Clone Repository` step. You can create a customized string or a file using those information and give input to Firebase App Distribution step.

<img width="338" alt="Screen Shot 2019-10-14 at 16 09 39" src="https://user-images.githubusercontent.com/16373485/6

[2019-10-14 13:15] #8 closed

[2019-10-14 13:20] mamatagelanee07 commented on #8
After opening issue, found `$BITRISE_GIT_MESSAGE` which I can use,

Thanks 👍

[2019-10-24 09:07] sosite opened #9 "Authenticate using a service account"
It'll be great if we had a possibility to export additional `GOOGLE_APPLICATION_CREDENTIALS` json file like described in https://firebase.google.com/docs/app-distribution/android/distribute-gradle#authenticate_using_a_service_account

[2019-10-28 15:24] guness commented on #9
@sosite this will definitely will be on my next release. but how bad do you need this? I will have time on weekend.

[2019-10-29 21:09] sathish211 opened #10 "Firebase App Distribution not working"
Hi,

I am trying to intergrate Firebase app Distribution (firebase-app-distribution@0.3.0) but i am getting 404 error. Please see the attachment. Can you please help me in resolving this issue?

![Screen Shot 2019-10-29 at 3 52 49 PM](https://user-images.githubusercontent.com/50426877/67809283-718a2d80-fa66-11e9-9a6a-5aae424f9250.png)

Thanks,
Sathish

[2019-10-29 22:48] guness commented on #10
hey @sathish211
can you check file size?
also send me detailed log file?

[2019-10-29 23:32] sosite commented on #9
@guness Thx for info. I tried to make a PR with this but I failed on step "Install missing Android SDK components" when I hosted own Bitrise local environment :P
So I would be grateful if you could find time during the weekend ;)

[2019-10-30 19:45] sathish211 commented on #10
@guness please find the attachment for logs

[e3720100844d7625.log](https://github.com/guness/bitrise-step-firebase-app-distribution/files/3790860/e3720100844d7625.log)

[2019-10-31 09:43] guness commented on #10
ok, I have investigated this:
it is related to this one: https://github.com/firebase/firebase-tools/issues/1109
and not related to step.

I was able to reproduce same error when using broken build file, or file belongs to other projects. Probably on firebase side, they are doing some kind of checks, thus build file is not accepted.

[2019-10-31 09:43] #10 closed

[2019-10-31 15:19] mamatagelanee07 opened #11 "HTTP Error: 404, Requested Entity was not found"
We are using [BETA] Firebase App Distribution for our Android App,

Version: **0.3.0**

Sometimes only on Bitrise, we get this error and our pipeline fails.
![Screenshot 2019-10-31 at 15 09 32](https://user-images.githubusercontent.com/8694335/67959603-ef7a4000-fbf0-11e9-9b73-1ab0de7adc25.png)

**Note**: It's not frequent. Just putting here if we can improve.

Thanks

[2019-10-31 15:54] guness commented on #11
Hello @mamatagelanee07 ,
This is actually similar to #10, and seems not related to Step itself. On a SO answer, it is suggested by firebase employee to directly contact Firebase Support.
So closing as there is nothing to be done on our side for now.

[2019-10-31 15:54] #11 closed

[2019-10-31 18:36] alexsinger commented on #10
@sathish211 hey, I'm on the Firebase App Distribution team. Any chance you can run the `firebase appdistribution:distribute` command with `--debug` and send the full log?

[2019-10-31 18:39] alexsinger commented on #11
@mamatagelanee07 Hey I'm on the Firebase App Distribution team. Any chance you can run the `firebase appdistribution:distribute` with `--debug` and send me the full log when it fails? When the command fails, does the distribution appear in the Firebase App Distribution dashboard?

[2019-10-31 18:42] sathish211 commented on #10
@alexsinger Thanks for your response. I am trying to take build in Bitrise and not in my local machine. i never tried that command in my local machine? can you please give me full command syntax so that i can try locally.

[2019-10-31 18:49] alexsinger commented on #10
Using your log output, it would be something like this:

firebase appdistribution:distribute "<path to your ipa>" --app
"1:415262294001:ios:1b34f3544b666c0e" --release-notes "your release notes"
--debug

If you need to install the Firebase CLI first, check out
https://firebase.google.com/docs/app-distribution/ios/distribute-cli

On Thu, Oct 31, 2019 at 2:42 PM sathish211 <notifications@github.com>

[2019-10-31 19:15] alexsinger commented on #10
@sathish211 it actually looks like the Bitrise step has an "Additional Command Flags" option. If you include `--debug` in there, the command will run with the additional output.

[2019-10-31 19:16] sathish211 commented on #10
@alexsinger i have already installed firebase cli. it looks like i am getting 404 error but after automatic retrying it is deploys. Please find the logs below. But I am not able to upload atleast once from Bitrise. Please let me know.

SC-1044571-ML:1.2.24(3086) xxkrishs$ firebase appdistribution:distribute LoxaBeauty.ipa --app 1:415262294001:ios:1b34f3544b666c0e --release-notes 'update for US sta

[2019-10-31 19:18] sathish211 commented on #10
sure @alexsinger i will add --debug and get the output to you from Bitrise.

[2019-10-31 19:19] alexsinger commented on #10
Thanks! I'm curious to see the Bitrise version when it completely fails.

On Thu, Oct 31, 2019 at 3:18 PM sathish211 <notifications@github.com> wrote:

--

*____________**_**__**_____**_**_**_____________*

 Alex Singer | PM Firebase | Google

[2019-10-31 20:33] sathish211 commented on #10
@alexsinger it worked after adding --debug. But strange thing as below

- We have two target, one for USA build and other for CA build
- For USA build i added --debug and didn't add --debug for CA build
- Upload USA build to Firebase distribution successfully. After USA build is done, CA build process starts.
- During CA build process, it upload the build successfully but the build process doesn't

[2019-10-31 20:43] alexsinger commented on #10
Huh, interesting. Keep me posted once you have --debug on the other target.

On Thu, Oct 31, 2019 at 4:33 PM sathish211 <notifications@github.com> wrote:

--

*____________**_**__**_____**_**_**_____________*

 Alex Singer | PM Firebase | Google

[2019-10-31 22:26] sathish211 commented on #10
@alexsinger after adding --debug it worked for both target. So i am good for now to have --debug. i will keep monitoring the build upload to Firebase. if i have any issues i will post update in this issue.

Thanks very much for your help. Please let me know if you need anything from me. Thanks.

[2019-11-01 09:37] mamatagelanee07 commented on #11
Thank you @guness

Hello @alexsinger,

- We are running it on the bitrise and don't have detailed logs but, When I was trying locally the same experience I had, next time when I have this error, I can post it with logs here 👍

- I think distribution appear but not the binary file :)

<img width="967" alt="Screenshot 2019-11-01 at 09 33 52" src="https://user-images.githubusercontent.com/8694335/680

[2019-11-01 20:55] alexsinger commented on #11
Interesting. The binary is actually being uploaded but we're returning the error. It actually looks like the Bitrise step has an "Additional Command Flags" option. If you include --debug in there, the command will run with the additional output and give you more log output to share. Or you can run it locally too :)

[2019-11-01 20:57] alexsinger commented on #10
@sathish211 adding --debug shouldn't have changed anything with the upload, so I'm guessing that didn't fix the issue. If you see this problem pop up again, can you let me know? Also, if it happens again, can you check the Firebase dashboard and let me know if the expected upload appears there?

[2019-11-04 10:44] mamatagelanee07 commented on #11
Added a flag, will let you know when it happens again 🤝 Due to some priorities will not be able to run locally!

Thanks :)

[2019-11-04 15:17] sathish211 commented on #10
@alexsinger please find the build failed logs. I am seeing 404 error. i am going to try again. But i am able to see the build got uploaded to Firebase but it is not distributed to group in Firebase which i mentioned in Bitrise step.

[af7f2a438831761b.log](https://github.com/guness/bitrise-step-firebase-app-distribution/files/3804627/af7f2a438831761b.log)

Also because of this step failure in USA

[2019-11-04 17:39] guness commented on #9
Hey @sosite can you check latest commit from develop ( _which is not published yet_ ) by using following line

- git::https://github.com/guness/bitrise-step-firebase-app-distribution.git@develop:

[2019-11-04 22:03] alexsinger commented on #10
Thanks @sathish211. We've been investigating on our back and it's looking like our system took longer than expected to parse your apk. Is there any chance you would be willing to privately share the apk with me that's failing?

I'm in both the Bitrise and Firebase community Slack channels under Alex Singer if you want to message me directly, or you can post here if you're comfortable. Thanks for y

[2019-11-05 00:32] alexsinger commented on #11
Cool. Keep me posted!

[2019-11-05 09:22] sosite commented on #9
@guness It's working! ;)
I only received this warnings:
[code]

[2019-11-05 10:01] sosite commented on #9
@guness Ok, I tested it once again and it doesn't work without private firebase token :/

What I do:
1. I add credentials file `.json` into Code Signing → Generic File Storage:
![image](https://user-images.githubusercontent.com/2025949/68196069-4d73a280-ffb8-11e9-8764-a957f2a37cc7.png)
2. I create secret key with url to the `.json` key with availability to replace variables in inputs:
![image](htt

[2019-11-05 10:56] guness commented on #9
Well, this step cannot download a file from a URL, you should provide necessary file on the disk.

you can use a curl step prior to this one to download, and pass path of downloaded file.

[2019-11-05 12:19] sosite commented on #9
1. Ok, now I downloaded the key using `file-downloader` step
[code]
2. Right before your step I create a script step to ensure that file exist:
[code]
3. But in your step I still receive this error:
[code]

[2019-11-05 12:47] guness commented on #9
Hey, my bad. I have inverted case about file check. probably will be fine now.

[2019-11-05 13:39] sosite commented on #9
Ok, it goes a little further 😉 Right now it stuck on `GET https://firebaseappdistribution.googleapis.com/v1alpha/apps/1:23456789:android:abcd1234` response:
[code]

[2019-11-05 15:09] sathish211 commented on #10
@alexsinger My apologies. I work for client and i don't have authorized to share apk file. My Project Manager says not to share .apk file as well. My apologies again. Thanks.

[2019-11-05 15:29] guness commented on #9
it looks like you are not using correct file. you can create one using :
<img width="549" alt="Screen Shot 2019-11-05 at 18 29 05" src="https://user-images.githubusercontent.com/16373485/68221247-35bd0e00-fffa-11e9-89d0-0bdb2831bce3.png">
and
<img width="301" alt="Screen Shot 2019-11-05 at 18 29 20" src="https://user-images.githubusercontent.com/16373485/68221264-3b1a5880-fffa-11e9-950f-4324ba6d96

[2019-11-05 16:04] mamatagelanee07 commented on #11
@alexsinger It's a lucky day 🎉 🎉  We got this error again and fortunately with logs!
Here is attached logs, I have removed some sensitive data with `xxxxx`

Let me know if you need that data 👍

[code]

[2019-11-05 16:07] sosite commented on #9
![It's working gif](https://media.giphy.com/media/GIEXgLDfghUSQ/giphy.gif)

I only receive some warnings and `404` but app was published successfully 😄

[code]
---
I think that it'll be awesome to get some kind of tutorial about how to get it work with service account :D

[2019-11-05 16:38] guness commented on #9
Cool, I will be polishing a few things and create an update later this week.
About tutorial, I am not really good at it, so I will leave it to whoever interested in :)

----
@alexsinger in case you are also interested in `404` status code there, please check last log above this ^^

[2019-11-05 16:49] alexsinger commented on #11
Thanks! Quick question -- If you head to the Firebase App Distribution dashboard, do you see this distribution there?

[2019-11-05 17:07] mamatagelanee07 commented on #11
@alexsinger Yes, I can see distribution, however, there isn't attached any binary(.APK) in it. 👍

[2019-11-05 17:21] alexsinger commented on #11
Is it in  "Not distributed" state where you're then asked to add testers
and release notes? Any chance you can add a screenshot?

My hunch if the apk was actually uploaded but something went wrong with
adding testers and notes.

On Tue, Nov 5, 2019 at 12:17 PM Andy <notifications@github.com> wrote:

--

*____________**_**__**_____**_**_**_____________*

 Alex Singer | PM Firebase | Google

[2019-11-05 17:32] mamatagelanee07 commented on #11
@alexsinger Yep, Sure! It's same as before (screenshot attached in the previous conversation)
Both stages, `Add tester` & `Add Release notes` are empty! 👍

![Screenshot 2019-11-05 at 17 30 11](https://user-images.githubusercontent.com/8694335/68230940-fd193680-fff1-11e9-9bbc-69541a306af8.png)

[2019-11-10 08:31] guness commented on #9
PR created:  https://github.com/bitrise-io/bitrise-steplib/pull/2252

[2019-11-11 02:40] alexsinger commented on #11
Thanks for adding again! We're investigating.

[2019-11-11 02:42] alexsinger commented on #10
Hey, totally understand - no worries! We'll continue to investigate from our end with what we have.

[2019-11-14 09:46] trapacska commented on #9
Merged! 🚀

[2019-11-14 15:59] #9 closed

[2019-11-14 15:59] guness commented on #9
closing this one has PR is merged.

[2019-11-15 10:04] sosite commented on #9
@guness Everything works fine :)

[2019-11-17 18:19] jbuda opened #12 "Distribution to Firebase fails"
I can't seem to get this to work, my distribution step to Firebase is always failing with the following error :

npm ERR! path /usr/local/bin/firebase
npm ERR! code EEXIST
npm ERR! Refusing to delete /usr/local/bin/firebase: node_modules/npm/bin/npm-cli.js symlink target is not controlled by npm /usr/local/bin
npm ERR! File exists: /usr/local/bin/firebase
npm ERR! Move it away, and try again.

Ive

[2019-11-17 19:06] guness commented on #12
@jbuda which stack do you use? have you tried different stacks?

[2019-11-18 01:20] jbuda commented on #12
Hi @guness
The Stack used is _Xcode 11.1.x, on macOS 10.14.6 (Mojave)_

Will try the next build on a new Stack and see what happens.

[2019-11-18 02:51] xuzhe commented on #12
Same here. It seems some stacks already have firebase installed at /local/usr/bin
I am not sure if it's a npm bug or Bitrise's problem.

[2019-11-18 04:35] xuzhe commented on #12
@jbuda Hi, before @guness merging my pull request or Bitrise done something to their enviroment, you can simply replace `- firebase-app-distribution@0.4.0:` to `- git::https://github.com/xuzhe/bitrise-step-firebase-app-distribution.git:` (or make your own fork) in your bitrise.yml file to avoid this error.

[2019-11-18 13:09] #12 closed

[2019-11-19 14:36] Abdul-Hannan opened #14 "Does not work for iOS Builds"
Hello,

I am getting this error related to NPM

<img width="594" alt="Screen Shot 2019-11-19 at 6 32 49 PM" src="https://user-images.githubusercontent.com/7346169/69155601-7426f280-0afb-11ea-8904-0d4351eeed15.png">

the step works fine  on Android builds

[2019-11-19 15:33] vscafuto commented on #14
Facing the same issue...

[2019-11-19 16:57] guness commented on #14
this is known, here is the PR to fix. temporary workaround is also mentioned on the PR, until it is deployed.

[2019-11-21 10:25] guness commented on #14
since PR is merged, closing this one. it should be available soon.

[2019-11-21 10:25] #14 closed

[2019-12-10 15:37] alexsinger commented on #11
Hey @mamatagelanee07, thanks for your patience! We've made some improvements to the uploading process in Firebase CLI v7.9.0. Would you mind updating to that version and seeing if your issue is resolved? Thanks!

[2019-12-10 15:38] alexsinger commented on #10
Hey @sathish211 , thanks for your patience! We've made some improvements to the uploading process in Firebase CLI v7.9.0. Would you mind updating to that version and seeing if your issue is resolved? Thanks!

[2019-12-11 17:38] sathish211 commented on #10
Hi @alexsinger. i am not seeing v7.9.0 in Bitrise portal but i am seeing following version in bitrise portal.

![Screen Shot 2019-12-11 at 11 33 43 AM](https://user-images.githubusercontent.com/50426877/70645282-4f113580-1c0a-11ea-9b05-c4f7a3a14729.png)

When i report this issue i was using 0.3.0 version but now we are using 0.5.0 version and i didn't face any issue so far in 0.5.0. can you please

[2019-12-11 17:50] guness commented on #10
@sathish211 those versions refers to the the bitrise step which uses Firebase CLI behind the scenes. you should be seeing latest version after weekly deployment of bitrise VM updates.

[2020-01-16 10:52] J0XX0 opened #15 "No authentication input defined when building from GitHub Pull Request webhook"
I've got my keys set up with Environment Variables in Bitrise, it works perfectly when building from a branch without a webhook build trigger.

When a build gets triggered from, let's say, branch ``development``; CI/CD emits the following:

[code]
When starting the build manually from the Bitrise dashboard on the ``development`` branch, it works fine.

[2020-01-16 16:12] frakc opened #16 "add releaseNotesFile property"
Hello, can you please add releaseNotesFile, as releaseNotes field is not sufficient.

[2020-01-16 17:46] J0XX0 commented on #15
@frakc I am so stupid, I looked right over that. Didn't think it would return null if it came from a PR webhook.

Thanks! Issue closed.

[2020-01-16 17:46] #15 closed

[2020-01-20 11:13] mamatagelanee07 commented on #11
Hi @alexsinger,

We have updated to the new version you mentioned and did not get any `timeout` exceptions in last month.

Thanks,
Mamata Gelanee

[2020-01-21 01:05] alexsinger commented on #11
That's great to hear, Mamata! Thanks for following up to let me know.

On Mon, Jan 20, 2020 at 6:13 AM Andy <notifications@github.com> wrote:

--

*____________**_**__**_____**_**_**_____________*

 Alex Singer | PM Firebase | Google

[2020-01-24 10:34] rsavin opened #17 "Quotes in the release notes string are not escaped"
I use firebase app distribution and I got this error: "Error: Too many arguments. Run firebase help appdistribution:distribute for usage instructions"
After some investigation I found out that quotes symbol ("") in the release-notes message isn't escaped and it makes the firebase cli fail if the release notes have quotes.
Example:
[code]
Fails because `"XXXXXX"` surrounded with quotes.

[2020-01-27 08:41] guness commented on #16
actually you can do it via **Additional Command Flags** by passing parameter as
`--release-notes-file "/path/to/release-notes.txt"`

[2020-01-27 08:41] #16 closed

[2020-01-29 14:07] menasameh commented on #16
Hey @guness how to pass **Additional Command Flags** ?

[2020-01-29 15:11] guness commented on #16
via `Additional Command Flags` input:
<img width="749" alt="Screen Shot 2020-01-29 at 18 09 42" src="https://user-images.githubusercontent.com/16373485/73368800-a5bdf600-42c2-11ea-8d13-27568587ede0.png">

[2020-02-09 21:32] guness commented on #16
it has been added, and will be published on next build.

[2020-02-10 11:21] danielhalim11 opened #19 "Service Credentials File can refer to link url instead of local path"
Hi, following up on this request https://github.com/guness/bitrise-step-firebase-app-distribution/issues/9, I want to request the service credentials file can refer to download link url directly instead of we have to download it manually and put on local directory.
Possible reason: Someone that have "Rebuild with Remove Access" access may be able to see the file and see the credential?

[2020-02-10 13:02] guness commented on #19
I don't think Firebase CLI itself supports direct URL to service credentials file, and can see no value implementing download mechanism within plugin. One with remote access can interfere with the flow in any step and gain access to credential file. Therefore it is not a viable solution.

Besides, purpose of the plugin is to support what Firebase App Distribution supports. So, this specific reques

[2020-02-10 13:02] #19 closed

[2020-02-11 05:48] nickspragg commented on #17
Is there a timeline on when this will be addressed?

[2020-02-13 13:01] guness commented on #17
not planned, but I will try to have a look at weekend.

[2020-02-16 13:49] guness commented on #17
@nickspragg can you try `develop` branch by editing `bitrise.yml` file manually and putting following line in appropriate line:

`    - git::https://github.com/guness/bitrise-step-firebase-app-distribution.git@develop:`

[2020-02-16 18:18] Bunn opened #20 "Release notes file option not being displayed on the UI"
For some reason when I add this step into my workflow the release notes file option is not displayed on the UI.
Not sure what's causing that since the it seems to be added correctly into the yml file:
https://github.com/guness/bitrise-step-firebase-app-distribution/blob/58de8f635d14b021b5a9ce26ce33f9fc6cb20f39/step.yml#L81

Here's a screenshot of how it looks when I add the step, notice the missin

[2020-02-16 18:36] Bunn commented on #20
Maybe the plugin version was never updated after the release notes file option was added?

I see here it says 0.5.0
https://github.com/guness/bitrise-step-firebase-app-distribution/blob/58de8f635d14b021b5a9ce26ce33f9fc6cb20f39/bitrise.yml#L9
And the last change on this file was on Nov 18, 2019

But the new option was added on Feb 5 2020
https://github.com/guness/bitrise-step-firebase-app-distribut

[2020-02-16 19:05] guness commented on #20
@Bunn this feature is not released yet. it will be released soon.
in the mean time you can use by changing appropriate line at `bitrise.yml` to:
`- git::https://github.com/guness/bitrise-step-firebase-app-distribution.git@develop:`

[2020-02-16 19:05] #20 closed

[2020-02-19 14:02] guness commented on #17
PR is open:
https://github.com/bitrise-io/bitrise-steplib/pull/2400

[2020-02-19 14:03] guness commented on #16
PR is open : https://github.com/bitrise-io/bitrise-steplib/pull/2400

[2020-02-19 14:03] guness commented on #20
PR is open : https://github.com/bitrise-io/bitrise-steplib/pull/2400

[2020-02-21 08:13] guness commented on #17
should be fine now on version 0.6.0

[2020-02-21 08:14] guness commented on #20
should be fine now on version 0.6.0

[2020-02-21 08:14] guness commented on #16
should be fine now on version 0.6.0

[2020-02-21 09:27] ArthurCideron commented on #17
Hey, nice of you for maintaining this step :).

I'm afraid replacing double quotes with single ones is just shifting the issue somewhere else though.
```I'm a release note``` would be broken because of the ```'``` now.

Have you tried fully escaping the env var  with expansion characters instead ? Like so: ```${release_notes@Q}```

[2020-02-21 12:03] guness commented on #17
hmm, I have tested against a case like `I am a 'release' note`, but haven't thought about single.
I will check once have a time.

However I have added file input for this and it should allow any kind of input in the file. It may help a bit.

[2020-02-21 12:10] Bunn commented on #20
@guness I can confirm it's working. Thanks :)

[2020-02-21 16:57] guness commented on #17
ok, confirmed what @ArthurCideron 's said. this still is a problem. should be fixed on next release.

[2020-03-23 15:03] mikeberlin commented on #17
Any update on this? We're running into issues where a single tick (') is causing the "Too many arguments" error.

[2020-03-24 06:56] guness commented on #17
since we all are home now, I can handle this within the week.

[2020-03-25 16:21] dautovicharis opened #22 "Error: failed to fetch app information. HTTP Error: 400, Request contains an invalid argument."
After migration **Firebase app distribution** step to **0.6.0** I'm experiencing the issue with upload.

I have tried to regenerate FIREBASE_TOKEN and also update Firebase CLI to the latest version, but the problem still exists.

[code]

[2020-03-25 23:31] guness commented on #22
@dautovicharis are you sure you have set APP_ID correctly?

[2020-03-26 11:49] dautovicharis commented on #22
@guness Yes, I have checked everything multiple times. When I run build with 0.5.0 version everything works fine.

[2020-03-26 20:57] guness commented on #22
could be related to this one: https://github.com/guness/bitrise-step-firebase-app-distribution/issues/17

When I work on this issue and I will ping you to check a develop branch step.

[2020-03-27 09:55] dautovicharis commented on #22
@guness I have found the reason why is this happening.

In my case, every workflow has `FIREBASE_APP_ID` that uses `secret VAR `as a value.

<img width="857" alt="Screenshot 2020-03-27 at 10 46 31" src="https://user-images.githubusercontent.com/7049715/77743403-5113ce80-7018-11ea-921b-15fd47199367.png">

In that case value for the following request uses FIREBASE_APP_ID var value -> $APP_ID,  inste

[2020-03-27 15:13] dautovicharis commented on #22
@guness I have created PR -> https://github.com/guness/bitrise-step-firebase-app-distribution/pull/23

[2020-03-27 21:26] guness commented on #17
@mikeberlin @ArthurCideron, can you try running your build using develop branch of the step?

[2020-03-30 20:59] mikeberlin commented on #17
Am I able to do this through my workflow in bitrise? That's the only place I have to test this. I'm not sure I can change where it's pulling the step from.

[2020-03-30 22:10] guness commented on #17
@mikeberlin you need to edit bitwise.yml file manually and use following line:
`    - git::https://github.com/guness/bitrise-step-firebase-app-distribution.git@develop:`

[2020-04-02 15:21] mikeberlin commented on #17
@guness

This is what I have within my yml file. I am still getting the error when attempting to distribute with a tick in my commit messages. Is there something else I need to change?

- firebase-app-distribution:
        inputs:
        - app: "$FIREBASE_APP_ID"
        - groups: "$FIREBASE_DISTRO_GROUP_QA"
        - release_notes: |-
            Author: $GIT_CLONE_COMMIT_AUTHOR_NAME

[2020-04-02 19:51] guness commented on #17
@mikeberlin

ah, please try using like this:

[code]

Sorry, should have been more clear.

[2020-04-03 14:40] mikeberlin commented on #17
@guness That worked, thanks! I was able to use it to deploy via bitrise while using commit messages that contained a tick/apostrophe. Are we able to integrate this so I can use the actual step instead of the direct github link?

Appreciate the help on this!

[2020-04-03 16:16] guness commented on #17
@mikeberlin I will take out builds and kicked PR for bitwise. After they merge, step will be ready.

[2020-04-03 16:17] #17 closed

[2020-04-03 16:21] guness commented on #22
this should be fine on 0.7.0 as well. created PR on bitrise side.

[2020-04-03 16:21] #22 closed

[2020-04-13 15:36] ayanyev opened #24 "Apps not distributed due to missing contact email"
Distribution worked until certain point of time. After appeared a weird error: missing contact email. But I am sure that there is a contact email for each distributed app set - it cannot be not set

| (2) Firebase deploy - dev                                                    |
+------------------------------------------------------------------------------+
| id: firebase-app-distribution

[2020-04-13 18:12] guness commented on #24
@ayanyev the last bug we have fixed (not deployed yet) is related to single quotes on release notes. can you also confirm it is not related to that by removing all release notes input.
?

Also it is good to confirm email address exists on App Distribution console.

[2020-04-16 12:27] alondero opened #25 "Fails without diagnostics if the release notes field is too large"
Our distribution was failing randomly and wasn't suggesting why it was failing.
After playing around with a few variables I noticed that the release notes were pretty long, so blanked it out for the build which subsequently passed.

Suggest that this step truncates the release notes to maybe no more than 100 characters so it passes verification

[2020-04-16 15:39] guness commented on #25
@alondero are you sure it is not because of a single quote ?
o/w limitations are set by firebase itself, not us.

[2020-04-16 15:52] alondero commented on #25
It is using a single quote yes, should it be double? I'm using version 0.6.0

[2020-04-16 18:23] guness commented on #25
@alondero we have known bug about single quote, and it is fixed on 0.7.0.
however it is not yet deployed by bitrise.
https://github.com/bitrise-io/bitrise-steplib/pull/2445

[2020-04-16 18:23] guness commented on #22
https://github.com/bitrise-io/bitrise-steplib/pull/2445

[2020-04-20 17:28] chenghuangqobuz opened #26 "Suggestion : generate output variable"
Hi,

Is there possible to generate output variable for url of this specify version?  I'd like to post this url link to jira, so QA can just click the url to download the right version.

Thanks

[2020-04-20 18:39] guness commented on #26
@chenghuangqobuz direct Binary download is not available on Firebase App Distribution. However by using `Deploy to bitrise io` step you can get direct link to Binary file. Let me know if you need more help.

[2020-04-20 18:39] #26 closed

[2020-04-20 21:37] chenghuangqobuz commented on #26
@guness Thanks for the response. I used bitrise io before but bitrise io can't list all versions and can't manage permissions.

Good work for the step.

[2020-04-20 22:41] guness commented on #26
@alexsinger if you would like to record customer feedback ^^

[2020-04-22 10:58] guness commented on #24
@ayanyev can you retry with the last version (0.7.0)

[2020-04-22 10:59] guness commented on #25
@alondero  can you retry with the last version (0.7.0)

[2020-04-22 11:55] alondero commented on #25
It worked, thank you!

On Wed, 22 Apr 2020 at 11:59, Sinan Güneş <notifications@github.com> wrote:

[2020-04-22 11:55] #25 closed

[2020-04-22 14:18] ayanyev commented on #24
Hi. Sorry for the late answer. The situation was really strange. I also tried distributing with Firebase CLI  from Bitrise machine (script step). But failed as well. From local machine apps where distributed without problems
So the problem was not with your Firebase distribution step.
After all I switched to distribution by [Gradle plugin](https://firebase.google.com/docs/app-distribution/android/

[2020-04-22 16:07] guness commented on #24
I see, we have recently fixed a problem in our code base, which might happen on your side as well.
If that did not work, you can try using file option for release notes. I assume there should be no limit there.

[2020-04-22 16:07] #24 closed

[2020-05-05 21:18] emitchel opened #27 "App path defined but the file does not exist at path"
Configs:
    * firebase_token: [REDACTED]
    * service_credentials_file:
    * app_path: ./app/build/outputs/apk/develop/debug
    * app: xxxxxx
    * release_notes:
    * release_notes_file:
    * testers:
    * groups: Internal
    * flags:
    * is_debug: true
    * upgrade_firebase_tools: false
    App path contains one file 👍
    App path defined but the file does not exist at path: ./app/bu

[2020-05-05 21:24] guness commented on #27
@emitchel it is looking for absolute file path. Directory will fail as expected.

[2020-05-05 21:52] emitchel commented on #27
So why is it failing for $BUTRISE_APK_PATH?

[2020-05-05 21:55] guness commented on #27
@emitchel can you share the steps you are using?
we should see something like:
`app_path: /bitrise/deploy/app-debug.apk`

[2020-05-06 13:36] emitchel commented on #27
You are correct - updating the path to the adjusted absolute path works.

[2020-05-06 13:36] #27 closed

[2020-05-27 01:59] alexsinger commented on #26
Thanks @guness and @chenghuangqobuz it's good feedback. Providing back a URL is something we've thought about as an improvement. I'll pass along to the team too.

[2020-06-19 09:35] androideveloper commented on #9
Thanks for this discussion! Didn't know that file-downloader step is needed for service account auth, finally worked with it. Maybe this could be mentioned somewhere?

[2020-07-28 21:22] santiagofm commented on #9
@guness Any plans on downloading the file if it's a remote url ? Just stumbled upon this issue too :/.
Glad to see if I can open a PR if you don't have the time.

[2020-07-28 21:26] guness commented on #9
there is already a step you can use prior to this one: file-downloader. I see no good reason to reinvent the wheel.

[2020-07-28 21:32] santiagofm commented on #9
Yep! We ended up using that step. It's just that this limitation isn't specified anywhere and we wrongly assumed it would get downloaded by this step like the google-play step does.

Anyway, if you are open to this i don't mind drafting a PR or at least specify on the param description that it needs to be a local url.

[2020-07-28 21:39] guness commented on #9
yeah, I am open to PRs. Most of the descriptions are taken from firebase app distribution's documentations. Maybe they are already outdated.

[2020-08-04 18:43] osborneomuya opened #29 "Error: Failed to authenticate, have you run firebase login?"
I run into this error when setting up firebase app distribution on bitrise CI.I have used a script to download the firebase credentials file and a step to verify the file is downloaded.i have done everything from this answer https://github.com/guness/bitrise-step-firebase-app-distribution/issues/9
What could be causing the authentication issue?How do I run firebase login?
Here is an extract from m

[2020-08-04 22:47] guness commented on #29
it is probably not finding the service credentials file. please double check the path.

[2020-08-05 12:26] osborneomuya commented on #29
The file exists in the path.i have a step to verify the file is downloaded and it is.if I do an ls of the directory I can see it.is there a specific way to call the service credential file once its downloaded from the download step?

[2020-08-05 12:52] guness commented on #29
can you run build with remote access and see the content of the file is there, and firebase binary sees it.

can you also share a bit more logs, prior to the error.

[2020-08-07 12:20] osborneomuya commented on #29
i ran build with remote access and i can see the content of the file.
 logs, prior to the error

[2020-08-07 14:18] osborneomuya commented on #29
How do I view error logs with remote access?I could get more detail from there.

[2020-08-07 16:04] guness commented on #29
I don't know how to access Bitrise logs on the fly but you can always check from their dashboard.
Have you tried turning debug on...
<img width="328" alt="Screen Shot 2020-08-07 at 19 03 48" src="https://user-images.githubusercontent.com/16373485/89665098-d077af80-d8e0-11ea-8ddf-7977c77fa095.png">

and can you show settings on this field
<img width="394" alt="Screen Shot 2020-08-07 at 19 03 37" sr

[2020-08-08 07:54] osborneomuya commented on #29
![Screenshot from 2020-08-08 10-49-18](https://user-images.githubusercontent.com/12794991/89705359-5e957980-d965-11ea-85d5-12fd2f4967eb.png)
here is the config for the firebase distributtion step.I have hidden the Firebase App ID.

[2020-08-08 07:56] guness commented on #29
we are sure that `$FIREBASE_DISTRIBUTION_KEY_DEV` points to the file you download right?

[2020-08-08 08:15] osborneomuya commented on #29
yes its downloaded in the download step above,there is also a script that confirms the json file is downloaded there.

[2020-08-08 08:18] osborneomuya commented on #29
![Screenshot from 2020-08-08 11-16-59](https://user-images.githubusercontent.com/12794991/89705791-b386bf00-d968-11ea-97bf-3654e1fd23d0.png)
 an ls of the directory confirms the json file is there.

[2020-08-08 08:27] guness commented on #29
well, everything from our end seems correct then.

can you try running `firebase projects:list` on CI server during a remote build?
there are a few options...
- Broken JSON file
- Invalid credentials (from a secondary account)
- file permissions (a very long shot)
...

I can try debugging in place if it is OK for you to share project/build. o/w you need to ask to customer support.

[2020-08-08 08:28] osborneomuya commented on #29
i get this with debug on
"Deploying build to Firebase
  firebase appdistribution:distribute "/bitrise/deploy/app-dev-debug.apk" --app "1:347947913315:android:ed79486a949002d8" --groups "collaborators" --debug
[2020-08-08T08:23:54.805Z] > command requires scopes: ["email","openid","https://www.googleapis.com/auth/cloudplatformprojects.readonly","https://www.googleapis.com/auth/firebase","https://ww

[2020-08-08 08:41] guness commented on #29
aha, you see. file is broken.

[2020-08-08 10:18] osborneomuya commented on #29
I cant find where the error is could you help me identify it?

[2020-08-08 13:15] guness commented on #29
`Unexpected token < in JSON at position 0` means file content is broken.

[2020-08-08 14:27] osborneomuya commented on #29
Will redownloading the file fix it?

[2020-08-08 16:17] guness commented on #29
how can I know?

[2020-08-12 21:53] guness commented on #29
seems off-topic

[2020-08-12 21:53] #29 closed

[2020-08-28 05:34] vamsi575kg commented on #7
Same case for me when i use $BITRISE_APK_PATH_LIST
Upload to bitrise is success with 3 apk files but upload to firebase fails

[2020-08-28 05:39] vamsi575kg opened #30 "App path defined but the file does not exist at path: /Users/vagrant/deploy/app-arm64-v8a-release.apk"
| (7) flutter-build@0                                                          |
+------------------------------------------------------------------------------+
| id: flutter-build                                                            |
| version: 0.13.2                                                              |
| collection: https://github.com/bitrise-io/bitrise-steplib.git

[2020-08-28 08:18] guness commented on #30
I am not sure if firebase App distribution supports Split APK. can you check if I was wrong?

[2020-08-28 11:05] vamsi575kg commented on #30
If you manually drop all the 3 files in the Firebase beta distribution console it shows as a single version. Not sure if they have API support for uploading a list of apk's though.

May be triggering multiple uploads can give the expected result.
firebase appdistribution:distribute app-arm64-v8a-release.apk  \   --app 1:1234567890:android:0a1b2c3d4e5f67890
firebase appdistribution:distribute app-a

[2020-08-28 11:34] guness commented on #30
hmm, I am not seeing anything about uploading multiple files at once.

probably you need to add 3 of the steps, one step for an APK. Still, I am not sure if it split APK works on app distribution.

[2020-09-22 19:45] guness commented on #30
closing this one, let me know if you need more help.

[2020-09-22 19:45] #30 closed

[2020-10-07 12:43] vivascu opened #31 "Support .aab format"
Android applications can be distributed via an `.aab` format however now we are receiving:

```Error: unsupported distribution file format, should be .ipa or .apk```

[2020-10-07 12:43] vivascu opened #32 "Support .aab format"
Android applications can be distributed via an `.aab` format however now we are receiving:

```Error: unsupported distribution file format, should be .ipa or .apk```

[2020-10-07 12:43] #31 closed

[2020-10-07 12:45] guness commented on #31
I think firebase app distribution does not support aab. let me know if this was changed.

[2020-10-07 12:46] guness commented on #32
can you point me the documentation that tells `AAB` files are distributable via Firebase App Distribution?

[2020-10-07 13:10] vivascu commented on #32
@guness I have tried to upload an `.aab` via the console as well. It is restricted to `.apk` files only. Closing the issue for now.

[2020-10-07 13:10] #32 closed

[2021-01-28 20:14] Nived660987 commented on #29
firebase login --no-localhost
try the above command in your terminal it will pop up a new window login with the same id that you used for firebase db ,once logged in it will give you a string copy that string and paste in your terminal

[2021-02-02 20:01] josinaldobarbosa opened #33 "Release notes try to execute a command"
I am passing a text in the release notes in which I have the character `(grave accent), with this it is trying to execute a command internally and omitting the same when sending the text.

Example of release notes.: - `androidMaterial` = '1.2.1'
Step log: /tmp/bitrise849612672/step_src/step.sh: line 207: androidMaterial: command not found
In Firebase App Distribution: - = '1.2.1'

[2021-02-03 01:48] jhamin0511 opened #34 "Why App ID is "[REDACTED]"? This issue the following error."
![image](https://user-images.githubusercontent.com/23713053/106684027-fe784b00-6608-11eb-8663-42b1a79f86f5.png)

![image](https://user-images.githubusercontent.com/23713053/106684163-4303e680-6609-11eb-9275-e7597177a4d1.png)

---

This is the case that worked normally.

![image](https://user-images.githubusercontent.com/23713053/106685280-70519400-660b-11eb-959b-a961b52523b2.png)

![image](https:/

[2021-02-03 08:09] guness commented on #34
[REDACTED] Means your app id is not printed to console, but it is used properly. The error however is clear on RED:

```We could not find a contact email, please visit Firebase Console for app distribution and set a contact email there.```

Let me know if this does not fix your problem. Closing right now.

[2021-02-03 08:09] #34 closed

[2021-02-03 23:35] jhamin0511 commented on #34
![image](https://user-images.githubusercontent.com/23713053/106822700-e8c75c00-66c2-11eb-978a-ce62bf3d1c14.png)

I definitely wrote down the contact email.

`We could not find a contact email, please visit Firebase Console for app distribution and set a contact email there. `
 I don't know why the error occurs.

Is there any other way to solve this problem?

[2021-02-04 05:01] guness commented on #34
I have double checked my logs, it is not redacted. have you put your App ID into secrets?

[2021-02-05 01:11] jhamin0511 commented on #34
No. I entered App ID directly in the Firebase App ID field.
![image](https://user-images.githubusercontent.com/23713053/106975756-74f88280-679a-11eb-82b5-2f98586029f2.png)

[2021-02-05 08:37] guness commented on #34
can you also  check what is defined in SECRETS tab? maybe since it was defined there as well and it just causes this redaction without we know it.

[2021-04-12 10:33] ErcilioMarques commented on #29
just do firebase login on your terminal and login

[2021-05-22 12:32] etim8832 commented on #29
ใด้ยัง

[2021-05-27 06:14] mvolpato opened #35 "App path defined but the file does not exist at path, Flutter iOS"
I use a custom step to create an .ipa file from a Flutter app. After such a step I use `bitrise-step-firebase-app-distribution` to upload to Firebase AppDistribution.

This worked until a couple of weeks ago.

Now I get this:

[code]

When I create the Android app and upload it to Firebase, everything works as it did a couple of weeks ago.

What changed since then is the version of Flutter, but th

[2021-05-27 06:21] guness commented on #35
Error is clear. The Step cannot find the IPA file. How did you verify that file is there?

[2021-05-27 06:21] #35 closed

[2021-05-27 06:55] mvolpato commented on #35
You are fast :)

I run `ls /Users/vagrant/git/build/ios/output/` in a script in between the two steps and apparently the ipa file name changed, now it contains the app name. I do not know if this is a change in Flutter or Xcode or what.

Thanks for your time.

[2021-06-07 17:10] DavidCorrado opened #36 "Firebase Distibution now supports AAB"
https://firebase.google.com/docs/app-distribution/android/distribute-console?apptype=aab
Can you support AAB via your step?

[2021-06-08 02:23] guness commented on #36
hey @DavidCorrado, it is already supported, but not documented. I will update documentation soon, but you can use AAB already by providing its path instead of APK file.

[2021-06-08 02:23] #36 closed

[2021-07-07 10:45] moatazeldebsy opened #37 "Question : Is this step support app bundle (aab) for Android"
Is this step support app bundle (aab) for Android ? or only .apk? thank you

<img width="1253" alt="Screenshot 2021-07-05 at 10 15 37" src="https://user-images.githubusercontent.com/45570191/124746429-230e8100-df21-11eb-9e0f-4654d45f277b.png">

[2021-07-07 11:30] guness commented on #37
this is just a lack of documentation, but the step supports the bundles(aab) as well.

let me fix that quick for the documentation. but you can use current version.

[2021-07-07 11:30] #37 closed

[2021-07-07 11:32] #33 closed

[2021-07-13 18:55] micHar opened #38 "The default path fails for IPA"
The default value for the file path is: `$BITRISE_IPA_PATH|$BITRISE_APK_PATH|$BITRISE_AAB_PATH` (at least it was for me after the latest change to 0.9.x).

This started to fail, however, with `app_path: /Users/vagrant/deploy/abc.ipa||` and `App path contains || . You need to choose one build path: /Users/vagrant/deploy/talkmanIos.ipa||`.

I am building a kotlin multiplatform app with the same step

[2021-07-13 18:56] guness commented on #38
@micHar have you tried on 0.9.1 ?

[2021-07-13 19:00] guness commented on #38
it seems you are using `0.9.0`. This is fixed by `0.9.1`. Closing the issue, let me know if the problem persists.

[2021-07-13 19:00] #38 closed

[2021-07-15 05:54] guness commented on #38
here is the link to fixed version: https://github.com/bitrise-io/bitrise-steplib/pull/3111

[2021-08-30 15:22] QuentinFarizon opened #39 "Uploading takes too long and fails, add retry mechanism ?"
Hello

I regularly (1 in 10 times) get this issue when uploading AAB to Firebase :

[code]

This is an issue on Firebase side, but it would be useful to retry at least once, since this is very temprary.

Thanks !

[2021-08-31 07:51] guness commented on #39
I agree that this is on Firebase side. Since there is no easy way to understand why firebase fails (maybe wrong keys or service unavailable), basic retry will not be helpful. It is better if you can just create this issue on firebase and provide them sample APK file, maybe they will find the root cause and fix it.

[2021-08-31 07:51] #39 closed

[2021-08-31 07:54] QuentinFarizon commented on #39
I think retry will work, because when it fails I just download the AAB and upload it manually and it works.

I have also created an issue on Firebase side, but optionnaly retrying once or twice after 1 minute wouldn't hurt.

[2021-08-31 08:01] guness commented on #39
You are already able to add a retry mechanism thanks to Bitrise.
Just add a copy of the step in the workflow and make sure `Run if previous Step failed` flag is checked on second one. Here is more details:

https://devcenter.bitrise.io/steps-and-workflows/disable-a-step-by-condition/#running-a-step-only-if-the-build-failed

[2021-09-09 22:02] ColtonIdle opened #40 "Can't add release notes that start with a `-` char"
The firebase command ends up resolving to

[code]

which fails with `error: unknown option '-A'`

After reaching out to firebase support they recommended using

[code]

which resolved the issue, but I have to script it by hand to do that. Would be nice if the firebase step was updated to support a leading `-` character in release notes.

[2021-09-15 21:03] josinaldobarbosa opened #41 "Release notes exceeds maximum character limit"
`Error: failed to update release notes with HTTP Error: 400, Release notes length exceeds maximum character limit`

I think my release notes are 71696 characters.
I saw on the console that the maximum accepted is 16384 characters (manually found out), I didn't find any limit value in the doc for cli.

[2021-09-15 21:05] guness commented on #41
can you please report this to firebase developers? we can't control limits on this step.

[2021-09-15 21:05] #41 closed

[2021-09-15 21:57] josinaldobarbosa commented on #41
It doesn't make sense to me, if there is a limit we must respect, I created a mr that at least prevents the step from breaking the build

[2021-09-16 09:14] guness commented on #41
I am sorry for the effort you put in but I have to disagree. As an end-user, I would piss off if a step decides to truncate my input.

Besides, this step is not managing the limit. So can you think of what happens when firebase decides to increase or decrease this limit? The step will be either truncating for nothing, or it will false promise safety.

[2021-09-22 01:45] josinaldobarbosa commented on #41
understand, thank you for the answer

[2021-10-19 19:38] elizedelabrida opened #43 "Validation in case FIREBASE_TOKEN is exported in the environment"
It would be great if the script validated if **FIREBASE_TOKEN** variable is exported (not only firebase_token) and threw an error.

I had a case in Bitrise where there was a **secret env var** named exactly **FIREBASE_TOKEN**. This caused an issue while trying to authenticate with a **service account**, because even while firebase_token inside the script was empty, it was still trying to authentic

[2022-01-13 08:18] imranMnts opened #44 "Release notes length exceeds maximum character limit"
I have this error in my build with a big release note

```Error: failed to update release notes with HTTP Error: 400, Release notes length exceeds maximum character limit```

Can it be possible to add in the readme the maximum size of the release note and/or handle the case when it appears, to crop it and succeed the step?

[2022-01-13 09:06] guness commented on #44
Maximum size is not controlled by this plugin. Rather it is controlled by Firebase. They can just update it without giving notice. So it does not make sense to mention that is potentially inaccurate.

In addition, cropping peoples' word and calling it a success is not desirable behavior.

[2022-01-13 09:06] #44 closed

[2022-01-19 07:24] odemolliens opened #45 "Release notes length exceeds maximum character limit"
I know you closed the two previous ticket.

The minimun is to offer to users of that step to be able to activate the string truncate by a simple boolean. Regarding the maximun lentgh, make it parametable.

Isn't simple? Currently this step is unusable without adding extra code...

I'm just the 3rd developer to request that feature... so it's time to listen us :)

[2022-01-19 07:30] odemolliens commented on #43
any news? it has been a long time ago

[2022-01-19 13:01] guness commented on #45
Well, I don't like it but will add a new parameter that limits the input. It is your burden to configure the params and watch the changes on firebase API. :)

[2022-01-19 13:03] guness commented on #43
Not really, but let's not wait for new features. I will put this in my TODO list ahead. Thanks for reminding me.

[2022-01-20 12:37] odemolliens commented on #45
FYI code from the MR https://github.com/guness/bitrise-step-firebase-app-distribution/pull/42 is working fine.

I tested it with:

[code]
16379 as length because of the end_message with "..."

[2022-01-30 09:43] guness commented on #43
I am making a change regarding this. Instead of exporting input from the field, now using this as input the firebase binary.

However firebase app distribution binary itself may read it from environment variables. this is not something we can fix for sure.

I have added a warning just in case.

[2022-01-30 09:43] #43 closed

[2022-01-30 17:50] #45 closed

[2022-02-02 08:32] guness commented on #45
this is the related PR:  https://github.com/bitrise-io/bitrise-steplib/pull/3376

[2022-03-03 02:21] leoSTM commented on #40
Yeah, agree, it happened to me as well, and it really took me a while to figure it out as I never thought that is a problem

[2022-06-22 20:31] liplylie opened #46 "syntax error near unexpected token `newline'"
Setting permissions on binary...
/usr/local/bin/firebase: line 1: syntax error near unexpected token `newline'
/usr/local/bin/firebase: line 1: `<html>'
Something went wrong, firebase has not been installed.
Please file a bug with your system information on Github.

[2022-06-22 21:27] liplylie commented on #46
@guness this is from the build logs on bitrise.

I can send more of it:

[code]

[2022-06-22 21:30] guness commented on #46
it is something with `https://firebase.tools/bin/macos/latest` on bitrise. can you turn the update flag off and re-try?

[2022-09-12 08:40] samrezikram commented on #11
Firebase doesn't accept `groups` name with white spaces. e.g:- iOS

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/lCDyM.png

iOS SIT Tester always get failed on

*wheres JinglePayTesters succeed without any problem.*

        # Deploy on Firebase
      - task: Bash@3
        displayName: "Upload to firebase app distribution"
        inputs:
          targetType: "inline

[2022-09-13 04:23] guness commented on #11
@samrezikram can you please create a separate ticket for this?

[2022-10-14 09:01] argaasasta opened #47 "Got error when try to distribute"
Error: failed to determine AAB info. HTTP Error: 401, Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.

[2022-10-18 20:08] guness commented on #47
hey, the document you have sent seems irrelevant. you can check relevant documentation over here:

https://firebase.google.com/docs/app-distribution/android/distribute-cli

[2022-11-02 10:59] QuentinFarizon commented on #47
I'm getting the same error as of today, without any change on our side :

[code]

[2022-11-07 11:14] QuentinFarizon commented on #47
Re-creating a new Firebase CLI auth token worked.
Not sure why the tokens of my two apps were revoked at the same time

[2022-11-07 21:53] williamblevins opened #49 "[Feature request] Support for Google API Key authentication."
I see that this plugin supports both the deprecated Firebase token and GCP service account login method, but seems what it should be using is a Google API Key per https://firebase.google.com/docs/projects/api-keys

[code]

Or maybe you can use an API Key in place of the service account login and that's not clear?

[2022-11-08 20:12] williamblevins commented on #49
It might be a misnomer as Google API Key don't seem to do what the name suggests...

[2022-11-08 20:19] #49 closed